{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eventura</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body class="bg-gray-100 font-sans">

<nav class="bg-blue-600 p-4 text-white shadow-md sticky top-0 z-50">
  <div class="container mx-auto flex justify-between items-center">
    <a href="{% url 'home' %}" class="font-bold text-xl">Eventura</a>
    
    <div class="flex items-center space-x-4">
      {% if user.is_authenticated %}
        <!-- Logged in users -->
        <a href="{% url 'event-list' %}" class="px-3 py-2 rounded hover:bg-blue-700">Events</a>
        <a href="{% url 'category-list' %}" class="px-3 py-2 rounded hover:bg-blue-700">Categories</a>
        <a href="" class="px-3 py-2 rounded hover:bg-blue-700">Dashboard</a>
        <form action="{% url 'logout' %}" method="post" class="inline">
          {% csrf_token %}
          <button type="submit" class="bg-red-500 px-4 py-2 rounded hover:bg-red-600">Logout</button>
        </form>
      {% else %}
        
      <!-- Visitors -->
        <a href="{% url 'login' %}" class="px-3 py-2 rounded hover:bg-blue-700">Login</a>
        <a href="{% url 'signup' %}" class="bg-green-500 px-4 py-2 rounded hover:bg-green-600">Sign Up</a>
      {% endif %}
    </div>
  </div>
</nav>


    <main class="container mx-auto mt-8 p-4">
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
