# Python
*.pyc
*.pyo
__pycache__/
*.sqlite3
*.log

# Virtual Environment
env/
venv/
ENV/
env.bak/
*.env
*.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Django
*.pot
*.py[cod]
db.sqlite3
/media
/staticfiles
/static_root/
local_settings.py

# Node
node_modules/
package-lock.json
npm-debug.log

# Tailwind static output
theme/static/css/dist/
theme/node_modules/
theme/package-lock.json

# Django-tailwind
tailwind.config.js
postcss.config.js

# Migrations
**/migrations/
!**/migrations/__init__.py

# Byte-compiled files
*.py[cod]

# __pycache__ folders
__pycache__/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# System files
Thumbs.db
ehthumbs.db

# Coverage
htmlcov/
.coverage

# pytest
.cache/
